extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "IDC при поддержке Huawei выпустила технический документ «Индексная модель оценки архитектуры транспортной сети в эпоху 5G/FN5G и облачных вычислений»"

block content
    main.main
        +b.p-news-item

            +e.main
                .container
                    .breadcrumbs-block
                        +breadcrumbs([], title)


                    +e.row.row
                        +e.col-main
                            +e.content
                                +e.H1.title Го Пин из Huawei: синергия пяти основных технологических областей сделает Шэньчжэнь глобальным центром цифровой витрины
                                +e.date 19 августа
                                +newsSocials()
                                .text
                                    h2
                                    b Помогаем превратить Шэньчжэнь в мировой цифровой город-витрину
                                    p  На сегодняшний день 92 оператора мобильной связи по всему миру уже развернули коммерческие сети 5G, и во всем мире насчитывается более 100 миллионов пользователей 5G. Го Пин сказал: «По мере того, как первый этап глобального развертывания 5G начинает завершаться, нам необходимо уделять больше внимания отраслевым приложениям. Это поможет нам полностью раскрыть потенциал 5G и добиться успеха в бизнесе с помощью 5G».

                                    +e.picture
                                        +e.picture-inner
                                            +e.IMG.picture-img(src="../img/news-item/new-img.jpg")
                                            +e.SPAN.picture-signature
                                                | Спецификация 3GPP Release 16 (R16) была официально заморожена в начале 2020 года, что еще больше способствует развитию отраслевых приложений на базе 5G. 5G " коммерческий 
                                    p(style="text-align:center; margin: 40px 0;")
                                    p Спецификация 3GPP Release 16 (R16) была официально заморожена в начале 2020 года, что еще больше способствует развитию отраслевых приложений на базе 5G. 5G " коммерческий Успех будет зависеть от синергии между пятью основными техническими областями: подключение, облачных, вычислительных, промышленных приложений, и распространяющийся AI. Вместе эти технологии имеют решающее значение для раскрытия всего потенциала 5G, помощи в строительстве умных городов и дальнейшего стимулирования цифровой экономики.
                                    p
                                        blockquote
                                            b Николай Комлев, исполнительный директор АПКИТ:
                                            p «АПКИТ привлекает в свои ряды значимых игроков рынка, способных внести свой вклад в развитие отрасли. Huawei имеет огромный потенциал для развития в России и формулировании общеотраслевой повестки для цифровой экономики. Ассоциация приветствует компанию такого высокого международного уровня и компетенции как Huawei в своих рядах».
                                    p
                                        ul
                                            li Маркетинговая поддержка: использование маркетинговых фондов MDF и JMF
                                            li Программа скидок на демопродукты: получение возможности оснащения лабораторий и демоцентров аппаратных и программным обеспечением Huawei
                                            li Использование официального логотипа партнера Huawei
                                            li Скидка по 100% предоплате для партнеров статуса VAP

                                    p Huawei объявила, что полностью использует свои сильные стороны в области подключения и вычислений, а также будет работать с операторами связи и другими партнерами над решениями на основе сценариев. Он планирует интегрировать эти пять основных технологий домены , чтобы помочь превратить Шэньчжэнь в мир " цифровой витриной города с.

                                    .table-wrap
                                        table
                                            thead
                                                tr
                                                    th Регион
                                                    th Партнеры CFT
                                                    th(width="20%") Минимальный объем продаж, USD
                                                    th(width="25%") Сертификация pre-sales
                                                    th(width="30%") Сервисная сертификация
                                            tbody
                                                tr
                                                    td(colspan='1' rowspan='4' style="background: #F5F5F5; text-align:center" width="10%" )
                                                        b Россия
                                                    td VAP
                                                    td 8 млн.
                                                    td 5 HCPP
                                                    td CSP 4 (любая линейка оборудования)
                                                tr
                                                    td Золотой
                                                    td 1,3 млн.
                                                    td 2 HCPP
                                                    td CSP 3 (любая линейка оборудования)
                                                tr
                                                    td Серебряный
                                                    td 325 тыс.
                                                    td 1 HCPP
                                                    td ---
                                                tr
                                                    td Авторизированный
                                                    td Размещение заказа на поставку в течение года
                                                    td ---
                                                    td ---
                                                tr
                                                    td(colspan='1' rowspan='4' style="background: #F5F5F5; text-align:center" width="10%")

                                                        b Евразия
                                                            br
                                                            | (без РФ)
                                                    td VAP
                                                    td 2 млн.
                                                    td 3 HCPP
                                                    td CSP 3 (любая линейка оборудования)
                                                tr
                                                    td Золотой
                                                    td 0,5 млн.
                                                    td 2 HCPP
                                                    td CSP 3 (любая линейка оборудования)
                                                tr
                                                    td Серебряный
                                                    td 250 тыс.
                                                    td 1 HCPP
                                                    td ---
                                                tr
                                                    td Авторизированный
                                                    td Размещение заказа на поставку в течение года
                                                    td ---
                                                    td ---

                                    br



                                    p  Спецификация 3GPP Release 16 (R16) была официально заморожена в начале 2020 года, что еще больше способствует развитию отраслевых приложений на базе 5G. 5G " коммерческий Успех будет зависеть от синергии между пятью основными техническими областями: подключение, облачных, вычислительных, промышленных приложений, и распространяющийся AI. Вместе эти технологии имеют решающее значение для раскрытия всего потенциала 5G, помощи в строительстве умных городов и дальнейшего стимулирования цифровой экономики.
                                    .important-info
                                        h2  Важная информация
                                        p
                                            b «АПКИТ привлекает в свои ряды значимых игроков рынка, способных внести свой вклад в развитие отрасли. Huawei имеет огромный потенциал для развития в России и формулировании общеотраслевой повестки для цифровой экономики.
                                    p      Huawei объявила, что полностью использует свои сильные стороны в области подключения и вычислений, а также будет работать с операторами связи и другими партнерами над решениями на основе сценариев. Он планирует интегрировать эти пять основных технологий домены , чтобы помочь превратить Шэньчжэнь в мир " цифровой витриной города с.
                                    .company-info
                                        span
                                            img(src="../img/news-item/logo-company.png")
                                        h2 Название компании
                                        p «Название компании» – международная компания, работающая в сфере информационной безопасности с 1997 года. Глубокие экспертные знания и многолетний опыт компании лежат в основе защитных решений и сервисов нового поколения, обеспечивающих безопасность бизнеса, критически важной инфраструктуры, государственных органов и рядовых пользователей.
                                    p Спецификация 3GPP Release 16 (R16) была официально заморожена в начале 2020 года, что еще больше способствует развитию отраслевых приложений на базе 5G. 5G " коммерческий Успех будет зависеть от синергии между пятью основными техническими областями: подключение, облачных, вычислительных, промышленных приложений, и распространяющийся AI. Вместе эти технологии имеют решающее значение для раскрытия всего потенциала 5G, помощи в строительстве умных городов и дальнейшего стимулирования цифровой экономики.
                                        p Huawei объявила, что полностью использует свои сильные стороны в области подключения и вычислений, а также будет работать с операторами связи и другими партнерами над решениями на основе сценариев. Он планирует интегрировать эти пять основных технологий домены , чтобы помочь превратить Шэньчжэнь в мир " цифровой витриной города с.

                            +e.tags
                                +b.tags
                                    +e.item
                                        +e.A.link(href="#") Цифровое сообщество

                                    +e.item
                                        +e.A.link(href="#") Big Data

                                    +e.item
                                        +e.A.link(href="#") Пресс-релиз

                                    +e.item
                                        +e.A.link(href="#") Энергетика

                                    +e.item
                                        +e.A.link(href="#") Цифровое сообщество

                                    +e.item
                                        +e.A.link.is-current(href="#") Big Data

                                    +e.item
                                        +e.A.link(href="#") Пресс-релиз

                                    +e.item
                                        +e.A.link(href="#") Энергетика
                            
                            +newsSocials()


                            +e.pagination
                                a(href="javascript:void(0)").pagination--prev.disabled Предыдущая
                                span
                                a(href="javascript:void(0)").pagination--next Следующая

                        +e.col-sidebar
                            +e.A(href="javascript:void(0)").banner
                                img(src="../img/news-item/banner.jpg")
                            +e.news-block
                                .new-title НОВОСТИ
                                +e.A(href="javascript:void(0)").new-card
                                    .new-name Компания Huawei одерживает победу на конкурсе Frost & Sullivan Awards, неизменно ...
                                    .new-bottom
                                        .new-date 18 августа
                                        .new-more О компании
                                +e.A(href="javascript:void(0)").new-card
                                    .new-name Компания Huawei одерживает победу на конкурсе Frost & Sullivan Awards, неизменно ...
                                    .new-bottom
                                        .new-date 18 августа
                                        .new-more Продукция
                                +e.A(href="javascript:void(0)").new-card
                                    .new-name Компания Huawei одерживает победу на конкурсе Frost & Sullivan Awards, неизменно ...
                                    .new-bottom
                                        .new-date 18 августа
                                        .new-more Потребителям
                                +e.A(href="javascript:void(0)").new-card
                                    .new-name Компания Huawei одерживает победу на конкурсе Frost & Sullivan Awards, неизменно ...
                                    .new-bottom
                                        .new-date 18 августа
                                        .new-more Технологии
                                +e.A(href="javascript:void(0)").new-card
                                    .new-name Компания Huawei одерживает победу на конкурсе Frost & Sullivan Awards, неизменно ...
                                    .new-bottom
                                        .new-date 18 августа
                                        .new-more О компании


                            +e.news-btn-wrap
                                +e.A.button.btn.--geom-def.--theme-red(href="#") ВСЕ НОВОСТИ

    +sectionFeedback

            


