extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Текстовая"

block content
    main.main
        +b.p-text
            +e.main
                .container
                    .breadcrumbs-block
                        +breadcrumbs([], title)

                    +e.H2.title Название страницы

                    +e.content.text
                        p Спецификация 3GPP Release 16 (R16) была официально заморожена в начале 2020 года, что еще больше способствует развитию отраслевых приложений на базе 5G. 5G " коммерческий Успех будет зависеть от синергии между пятью основными техническими областями: подключение, облачных, вычислительных, промышленных приложений, и распространяющийся AI. Вместе эти технологии имеют решающее значение для раскрытия всего потенциала 5G, помощи в строительстве умных городов и дальнейшего стимулирования цифровой экономики.
                        br
                        
                        h3 Подзаголовок
                        ul
                            li Маркетинговая поддержка: использование маркетинговых фондов MDF и JMF
                            li Программа скидок на демопродукты: получение возможности оснащения лабораторий и демоцентров аппаратных и программным обеспечением Huawei
                            li Использование официального логотипа партнера Huawei 
                            li Скидка по 100% предоплате для партнеров статуса VAP 

                        p Huawei объявила, что полностью использует свои сильные стороны в области подключения и вычислений, а также будет работать с операторами связи и другими партнерами над решениями на основе сценариев. Он планирует интегрировать эти пять основных технологий домены , чтобы помочь превратить Шэньчжэнь в мир " цифровой витриной города с.



    +sectionFeedback



