extends ../layouts/default
include ../helpers/mixins
//- include ../components/button

block variables
    - const title = "UI page"
    - const bodyClass = ""

block content
    +b.SECTION.s-common-video.--light
        picture
            +e.IMG.img(srcset="https://www.huawei.ru/upload/iblock/2f4/2f4932bfc6862d7ce45f58c3bff2eb93.png" alt="HUAWEI CONNECT MOSCOW")

        +e.box
            +e.video
                iframe(width="560" height="315" src="https://www.youtube-nocookie.com/embed/Bq6wqXSf1_M?controls=0&fs=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="1" autoplay="1")
                //- iframe.live-block_broadcast(src="https://frame.goodconnection.ru/event/20200930_huawei?type=eve" style="width: 711px; height: 400px; border: none" frameborder="0" allowfullscreen="" allow="autoplay; fullscreen")

                

    +b.SECTION.s-common-banner.--light
        +e.IMG.img(src="img/partners/partners-policy-banner.jpg")
        +e.container.container
            +e.box
                +e.H1.title Партнерская программа по Kunpeng
                +e.text
                    p Партнерская программа направлена на создание новой экосистемы Kunpeng, в рамках которой наши партнеры смогут ближе познакомиться с сервером TaiShan и облачными сервисами Kunpeng Cloud и получить маркетинговую, техническую и другие виды поддержки
                +e.buttons.row
                    +e.buttons-item.col-auto 
                        +e.A.link.btn.--geom-lg.--theme-red(href="#") Стать Партнером
                    +e.buttons-item.col-auto
                        +e.A.link.btn.--geom-lg.--theme-transparent(href="file.pdf" download)
                            +icon('download')
                            span Условия и преимущества


    +b.SECTION.s-common-banner.--light
        +e.IMG.img(src="img/about/about-banner.jpg")
        +e.container.container
            +e.box
                +e.H1.title О Huawei
                +e.text
                    p Создаем ценность для наших клиентов. Способствуем развитию отрасли. Стимулируем экономический рост.



    +b.SECTION.s-common-banner
        +e.IMG.img(src="img/press/press-banner.jpg")
        +e.container.container
            +e.box
                +e.H1.title Заголовок
                +e.text
                    p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
                +e.buttons.row
                    +e.buttons-item.col-auto 
                        +e.A.link.btn.--geom-lg.--theme-red(href="#") Стать Партнером
                    +e.buttons-item.col-auto
                        +e.A.link.btn.--geom-lg.--theme-red-transparent(href="file.pdf" download)
                            +icon('download')
                            span Условия и преимущества



    .ui-block-1


        .container

            .text(style="color: #000;")
                h1 Заголовок 1го уровня
                h2 Заголовок 2го уровня
                h3 Заголовок 3го уровня
                h4 Заголовок 4го уровня
                h5 Заголовок 5го уровня
                h6 Заголовок 6го уровня
                p 
                    | Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты.
                    a(href="#") это ссылка
                p 
                    | Далеко-далеко за словесными горами в 
                    b выделенное слово 
                    | и согласных живут рыбные тексты. Запятой, заголовок щеке использовало предупредила диких деревни вопроса до она! Курсивных буквоград строчка путь lorem это маленькая подпоясал алфавит! Единственное.
                ul
                    li пункт 1
                    li пункт 2
                    li пункт 3
                p 
                    | Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты.
                ol
                    li пункт 1
                    li пункт 2
                    li пункт 3
                blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel modi repellendus voluptatum error dolorem magni nostrum odit dicta cum dolorum. Ducimus autem harum fuga voluptas velit iusto. Eius, corrupti fugit!




            br
            +breadcrumbs(['Каталог', 'Какая-то'], title)
            +breadcrumbs([], title)
    
            form(action="#" method="post" data-parsley-validate="data-parsley-validate")


                label.input-text-wrap
                    span.input-text-label Ваше имя
                    input.input-text.--geom-def(type="text" placeholder="" required)
                br
                span.input-text-wrap
                    input.input-text.--geom-def(type="text" placeholder="Ваше имя" required)
                br
                span.input-text-wrap
                    input.input-text.--geom-def(type="email" placeholder="Электронная почта" required)
                br
                span.input-text-wrap
                    textarea.input-text.--geom-def.--geom-h-100(placeholder="Сообщение" rows="4" required)
                br
                +b.LABEL.checkbox-s
                    +e.INPUT.input(type="checkbox" name="Интервью" value="Да" required data-parsley-error-message="Нужно согласие на обработку данных" data-parsley-multiple="Согласие на обработку данных")
                    +e.SPAN.icon
                        +icon('checkbox')                        
                    +e.SPAN.text 
                        | Я соглашаюсь с 
                        a(href="https://www.huawei.com/ru/privacy-policy" target="_blank") условиями и порядком обработки моих персональных данных
                        | , установленных «Политикой ООО «Техкомпания Хуавэй»» в отношении обработки персональных данных и сведениями о реализуемых требованиях к защите персональных данных» и условиями «Пользовательского соглашения».


                +e.BUTTON.submit.btn.--geom-def.--theme-red(type="submit") Отправить

        .ui-popups
            //- /popups/hr-review.html
            .popup.popup--hr-review(id="popup-hr-review")
                +b.hr-review-popup
                    +e.title
                        +b.H2.hr-sec-title.--center Отзыв
                    +e.SPAN.top
                        +e.SPAN.top-left
                            +e.SPAN.img-wrap
                                +e.IMG.img(src="img/hr/review-avatar-0.jpg" alt="Дмитрий Куликов" width="100" height="100")
                        +e.SPAN.top-right
                            +e.SPAN.name Дмитрий Куликов
                            +e.SPAN.post Delivery and Service Department

                    +e.text.text
                        p Я начал работать в Huawei в декабре 2017 года. На момент трудоустройства я не слишком много знал о компании как об одном из лидирующих разработчиков решений в сфере ICT, однако знал, что Huawei — крупная интернациональная компания, и к тому же имел опыт работы в российско-китайском совместном предприятии. Работа в крупной компании казалась шагом вперед, который принесет новые испытания и новые возможности, что год работы в Huawei подтвердил.
                        p Что я мог бы назвать самым важным опытом, полученным за год работы? Это понимание, что работа каждого, в конечном итоге, нацелена на достижение целей компании, даже если сразу это и незаметно, поэтому важно ответственноподходить к решению любых задач.
                        p Не разбегаясь мыслью по древу, хотел бы сказать одно: нужно быть готовым к тому, что Huawei мыслит и работает не так, как большинство компаний, но по-другому — это не значит плохо. 


            //- /popups/hr-resume.html
            
           
            +popupHrResume
                    
    
    +b.s-main-consumer#main-consumer
        .container
            div
                +b.A.btn.--geom-def.--theme-grey-md-transparent(href="#") Узнать больше
                +b.A.btn-play.--geom-def.--theme-grey-md-transparent.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                    +icon('play-triangle')
                +b.A.btn-play-round.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                    +icon('play-triangle-lg')
                +b.A.btn-play-round.--state-hover.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                    +icon('play-triangle-lg')
                +b.A.btn-play-round.--state-active.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                    +icon('play-triangle-lg')

                +b.A.btn-play-round.--geom-sm.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                    +icon('play-triangle-lg')
                +b.A.btn-play-round.--geom-sm.--state-hover.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                    +icon('play-triangle-lg')
                +b.A.btn-play-round.--geom-sm.--state-active.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                    +icon('play-triangle-lg')
            br
          
            +e.row.row.row-mt-30
                +e.col.col-12.col-md-6.col-lg-4
                    +b.s-main-consumer-video
                        +e.IMG.img(src="/img/main-page/consumer/video-0.jpg")
                        +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                            +e.SPAN.play-btn.btn-play-round
                                +icon('play-triangle-lg')

                +e.col.col-12.col-md-6.col-lg-4
                    +b.s-main-consumer-video
                        +e.IMG.img(src="/img/main-page/consumer/video-1.jpg")
                        +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                            +e.SPAN.play-btn.btn-play-round
                                +icon('play-triangle-lg')

            br
            br

            +e.row.row.row-mt-30
                +e.col.col-12.col-md-6.col-lg-4
                    +b.s-main-consumer-product
                        +e.title
                            img(src="/img/main-page/consumer/product-0-title.svg" alt="HUWWEI MateBook X")
                        +e.descr.text
                            p 
                                | Ультралегкий – всего 1 кг
                            p
                                | Бесконечный
                                br
                                | безрамочный 3К-экран
                            p
                                | Huawei Share объединяет
                                br
                                | ноутбук и смартфон
                        +e.buttons
                            +e.buttons-item
                                +b.A.btn.--geom-def.--theme-grey-md-transparent(href="#") Узнать больше
                            +e.buttons-item
                                +b.A.btn-play.--geom-def.--theme-grey-md-transparent.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                                    +icon('play-triangle')

                        +e.A.img-wrap.js-rellax(href="#" target="_blank" data-rellax-speed="0.8")
                            +e.IMG.img(src="/img/main-page/consumer/product-0.png")                        

                +e.col.col-12.col-md-6.col-lg-4
                    +b.s-main-consumer-product
                        +e.title
                            img(src="/img/main-page/consumer/product-1-title.svg" alt="HUWWEI MateBook X")
                        +e.descr.text
                            p
                                | 2 недели без подзарядки
                            p 
                                | Сапфировое стекло,
                                br
                                | титановый корпус
                            p
                                | Гольф, лыжи и плавание
                                br
                                | (5 АТМ), более 100 
                                | режимов тренировок
                        +e.buttons
                            +e.buttons-item
                                +b.A.btn.--geom-def.--theme-grey-md-transparent(href="#") Узнать больше
                        +e.A.img-wrap.js-rellax(href="#" target="_blank" data-rellax-speed="0.8")
                            +e.IMG.img(src="/img/main-page/consumer/product-1.png")                        

                +e.col.col-12.col-md-6.col-lg-4
                    +b.s-main-consumer-product
                        +e.title
                            img(src="/img/main-page/consumer/product-2-title.svg" alt="HUWWEI MateBook X")
                        +e.descr.text
                            p 
                                | Динамическое шумоподавление
                            p
                                | Режимы звукопроницаемости
                                br
                                | и усиления голоса
                            p
                                | Одновременное
                                br
                                | подключение к двум
                                br
                                | устройствам
                        +e.buttons
                            +e.buttons-item
                                +b.A.btn.--geom-def.--theme-grey-md-transparent(href="#") Узнать больше
                        +e.A.img-wrap.js-rellax(href="#" target="_blank" data-rellax-speed="0.8")
                            +e.IMG.img(src="/img/main-page/consumer/product-2.png")
                        

            br
            br
          
            +e.row.row.row-mt-30
                +e.col.col-12.col-md-6.col-lg-4
                    +b.A.s-main-consumer-item-img(href="#" target="_blank")
                        +e.IMG.img(src="/img/main-page/consumer/item-img-0.jpg")

                +e.col.col-12.col-md-6.col-lg-4
                    +b.s-main-consumer-item-custom
                        +b.s-main-consumer-services
                            +e.row
                                +e.col
                                    +e.A.item(href="#" target="_blank")
                                        +e.IMG.item-img(src="/img/main-page/consumer/custom-0.png" alt="HUAWEI MOBILE CLOUD")
                                        +e.SPAN.item-title HUAWEI MOBILE CLOUD
                            
                                +e.col
                                    +e.A.item(href="#" target="_blank")
                                        +e.IMG.item-img(src="/img/main-page/consumer/custom-1.png" alt="HUAWEI APPGALLERY")
                                        +e.SPAN.item-title HUAWEI APPGALLERY
                            
                                +e.col
                                    +e.A.item(href="#" target="_blank")
                                        +e.IMG.item-img(src="/img/main-page/consumer/custom-2.png" alt="ТЕМЫ HUAWEI")
                                        +e.SPAN.item-title ТЕМЫ HUAWEI
                            
                                +e.col
                                    +e.A.item(href="#" target="_blank")
                                        +e.IMG.item-img(src="/img/main-page/consumer/custom-3.png" alt="Video HUAWEI")
                                        +e.SPAN.item-title Video HUAWEI

    +b.s-main-hddc#main-hddc
        .container
            +e.top
                +e.H2.title Итоги конференции «цирфовое сообщество 2020»
                +e.A.top-link(href="#" target="_blank") Все материалы

            +e.videos
                +e.group
                    +e.group-row
                        +e.group-col.--wbig-1
                            +b.s-main-hddc-video.--big
                                +e.IMG.img(src="/img/main-page/hddc/poster.jpg")
                                +e.SPAN.title.--big Название выступления в данном видео
                                +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                                    +e.SPAN.play-btn.btn-play-round
                                        +icon('play-triangle-lg')

                        +e.group-col.--wsmall-1
                            +e.group-scroll-wrap
                                +e.group-scroll
                                    +e.group-row.row
                                        +e.group-col.col-12.col-sm-6.col-lg-12
                                            +b.s-main-hddc-video.--small
                                                +e.IMG.img(src="/img/main-page/hddc/poster.jpg")
                                                +e.SPAN.title.--small Название выступления в данном видео
                                                +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                                                    +e.SPAN.play-btn.btn-play-round.--geom-sm
                                                        +icon('play-triangle-lg')
                                        +e.group-col.col-12.col-sm-6.col-lg-12
                                            +b.s-main-hddc-video.--small
                                                +e.IMG.img(src="/img/main-page/hddc/poster.jpg")
                                                +e.SPAN.title.--small Название выступления в данном видео
                                                +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                                                    +e.SPAN.play-btn.btn-play-round.--geom-sm
                                                        +icon('play-triangle-lg')
                                        +e.group-col.col-12.col-sm-6.col-lg-12
                                            +b.s-main-hddc-video.--small
                                                +e.IMG.img(src="/img/main-page/hddc/poster.jpg")
                                                +e.SPAN.title.--small Название выступления в данном видео
                                                +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                                                    +e.SPAN.play-btn.btn-play-round.--geom-sm
                                                        +icon('play-triangle-lg')
                                        +e.group-col.col-12.col-sm-6.col-lg-12
                                            +b.s-main-hddc-video.--small
                                                +e.IMG.img(src="/img/main-page/hddc/poster.jpg")
                                                +e.SPAN.title.--small Название выступления в данном видео
                                                +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                                                    +e.SPAN.play-btn.btn-play-round.--geom-sm
                                                        +icon('play-triangle-lg')
                                        +e.group-col.col-12.col-sm-6.col-lg-12
                                            +b.s-main-hddc-video.--small
                                                +e.IMG.img(src="/img/main-page/hddc/poster.jpg")
                                                +e.SPAN.title.--small Название выступления в данном видео
                                                +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                                                    +e.SPAN.play-btn.btn-play-round.--geom-sm
                                                        +icon('play-triangle-lg')
                                        +e.group-col.col-12.col-sm-6.col-lg-12
                                            +b.s-main-hddc-video.--small
                                                +e.IMG.img(src="/img/main-page/hddc/poster.jpg")
                                                +e.SPAN.title.--small Название выступления в данном видео
                                                +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                                                    +e.SPAN.play-btn.btn-play-round.--geom-sm
                                                        +icon('play-triangle-lg')
            
            br
            br

            +e.videos
                +e.group
                    +e.group-row
                        +e.group-col.--wbig-2
                            +b.s-main-hddc-video.--big-2
                                +e.IMG.img(src="/img/main-page/hddc/poster.jpg")
                                +e.SPAN.title.--big Название выступления в данном видео
                                +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                                    +e.SPAN.play-btn.btn-play-round
                                        +icon('play-triangle-lg')

                        +e.group-col.--wbig-3
                            +e.group-scroll-wrap
                                +e.group-scroll
                                    +e.group-row
                                        +e.group-col.col-12.col-sm-6.col-md-4.col-lg-6
                                            +b.s-main-hddc-video.--small
                                                +e.IMG.img(src="/img/main-page/hddc/poster.jpg")
                                                +e.SPAN.title.--small Название выступления в данном видео
                                                +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                                                    +e.SPAN.play-btn.btn-play-round.--geom-sm
                                                        +icon('play-triangle-lg')
                                        +e.group-col.col-12.col-sm-6.col-md-4.col-lg-6
                                            +b.s-main-hddc-video.--small
                                                +e.IMG.img(src="/img/main-page/hddc/poster.jpg")
                                                +e.SPAN.title.--small Название выступления в данном видео
                                                +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                                                    +e.SPAN.play-btn.btn-play-round.--geom-sm
                                                        +icon('play-triangle-lg')
                                        +e.group-col.col-12.col-sm-6.col-md-4.col-lg-6
                                            +b.s-main-hddc-video.--small
                                                +e.IMG.img(src="/img/main-page/hddc/poster.jpg")
                                                +e.SPAN.title.--small Название выступления в данном видео
                                                +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                                                    +e.SPAN.play-btn.btn-play-round.--geom-sm
                                                        +icon('play-triangle-lg')

                                        +e.group-col.col-12.col-sm-6.col-md-4.col-lg-6
                                            +b.s-main-hddc-video.--small
                                                +e.IMG.img(src="/img/main-page/hddc/poster.jpg")
                                                +e.SPAN.title.--small Название выступления в данном видео
                                                +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                                                    +e.SPAN.play-btn.btn-play-round.--geom-sm
                                                        +icon('play-triangle-lg')
                                        +e.group-col.col-12.col-sm-6.col-md-4.col-lg-6
                                            +b.s-main-hddc-video.--small
                                                +e.IMG.img(src="/img/main-page/hddc/poster.jpg")
                                                +e.SPAN.title.--small Название выступления в данном видео
                                                +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                                                    +e.SPAN.play-btn.btn-play-round.--geom-sm
                                                        +icon('play-triangle-lg')
                                        +e.group-col.col-12.col-sm-6.col-md-4.col-lg-6
                                            +b.s-main-hddc-video.--small
                                                +e.IMG.img(src="/img/main-page/hddc/poster.jpg")
                                                +e.SPAN.title.--small Название выступления в данном видео
                                                +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                                                    +e.SPAN.play-btn.btn-play-round.--geom-sm
                                                        +icon('play-triangle-lg')
                                        +e.group-col.col-12.col-sm-6.col-md-4.col-lg-6
                                            +b.s-main-hddc-video.--small
                                                +e.IMG.img(src="/img/main-page/hddc/poster.jpg")
                                                +e.SPAN.title.--small Название выступления в данном видео
                                                +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                                                    +e.SPAN.play-btn.btn-play-round.--geom-sm
                                                        +icon('play-triangle-lg')
                                        +e.group-col.col-12.col-sm-6.col-md-4.col-lg-6
                                            +b.s-main-hddc-video.--small
                                                +e.IMG.img(src="/img/main-page/hddc/poster.jpg")
                                                +e.SPAN.title.--small Название выступления в данном видео
                                                +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                                                    +e.SPAN.play-btn.btn-play-round.--geom-sm
                                                        +icon('play-triangle-lg')
                                        +e.group-col.col-12.col-sm-6.col-md-4.col-lg-6
                                            +b.s-main-hddc-video.--small
                                                +e.IMG.img(src="/img/main-page/hddc/poster.jpg")
                                                +e.SPAN.title.--small Название выступления в данном видео
                                                +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                                                    +e.SPAN.play-btn.btn-play-round.--geom-sm
                                                        +icon('play-triangle-lg')

                                        +e.group-col.col-12.col-sm-6.col-md-4.col-lg-6
                                            +b.s-main-hddc-video.--small
                                                +e.IMG.img(src="/img/main-page/hddc/poster.jpg")
                                                +e.SPAN.title.--small Название выступления в данном видео
                                                +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                                                    +e.SPAN.play-btn.btn-play-round.--geom-sm
                                                        +icon('play-triangle-lg')
                                        +e.group-col.col-12.col-sm-6.col-md-4.col-lg-6
                                            +b.s-main-hddc-video.--small
                                                +e.IMG.img(src="/img/main-page/hddc/poster.jpg")
                                                +e.SPAN.title.--small Название выступления в данном видео
                                                +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                                                    +e.SPAN.play-btn.btn-play-round.--geom-sm
                                                        +icon('play-triangle-lg')
                                        +e.group-col.col-12.col-sm-6.col-md-4.col-lg-6
                                            +b.s-main-hddc-video.--small
                                                +e.IMG.img(src="/img/main-page/hddc/poster.jpg")
                                                +e.SPAN.title.--small Название выступления в данном видео
                                                +e.A.play.js-video-popup(href="//carrier.huawei.com/~/media/CNBG/events/launch2020/video/5g-en.mp4")
                                                    +e.SPAN.play-btn.btn-play-round.--geom-sm
                                                        +icon('play-triangle-lg')
            













